/*Style h1 */
h1{
  text-align: center;
  font-weight: bold;
}

/* CENTER IMAGES */
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
}

/* Style the search box */
#menu {
  width: 100%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
  font-weight: bold;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Style the navigation links */
#myMenu li a {
  background-color: #f6f6f6;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-weight: bold;
  background-color: #eee;
  display: block
}

#myMenu li a:hover {
  background-color: red;
  color: white;
}
