/* Header styling */
header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Profile picture styling */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

/* Heading styling */
h1 {
    font-weight: bold;
    font-size: 24px;
    margin: 0;
    margin-right: 15px;
}

/* Menu styling */
.menu {
    display: flex;
    justify-content: center;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/* Menu items styling */
.menu a {
    color: white;
    text-decoration: none;
    padding: 0 15px;
    font-size: 16px;
    line-height: 20px;
    font-weight: bold;
}

.menu a:hover {
    background-color: darkred;
    border-radius: 3px;
}

/* Social icons styling */
.social-icons {
    display: flex;
    align-items: center;
}

.icon-linkedin {
    width: 100px;
    height: 50px;
    margin-left: 10px;
}

.icon-instagram {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

/* Main content styling */
main {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

/* Content sections */
.content-left, .content-right {
    width: 45%; /* Adjust width as needed */
}

/* TextBox styling */
.TextBox {
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid red;
}
